/* Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body {
  background: url(/images/booksReader.jpg);
  background-size: cover;
}

/* Landing page */

.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 1.875rem;
  background: #f0ffff;
  opacity: 0.85;
}

header {
  width: 1000px;
  height: 4.6875rem;
  font-family: 'Oswald', sans-serif;
  background: #f0ffff;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 2;
}

.menu-button {
  opacity: 0.99;
  height: 4.375rem;
  margin-left: 0;
  position: absolute;
  cursor: pointer;
}

.menu {
  background: black;
  display: none;
  position: fixed;
  top: 4.6875rem;
  width: 15rem;
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}

.menu a {
  display: flex;
  justify-content: center;
  color: #f0ffff;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 0;
  text-align: center;
}

.menu--open {
  display: block;
}

.container h1 {
  padding-top: 1.875rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 3.75rem;
  margin-bottom: 0;
}

.logo {
  width: 65%;
  margin-left: 11.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1.23rem;
}

.content h2 {
  padding: .625rem;
  font-size: 2.5rem;
  text-align: center;
  margin: .625rem;
}

.content p {
  text-align: center;
  color: red;
  border: 1px solid black;
  padding: .625rem;
  width: 100%;
  margin: 0;
}

.login {
  text-align: center;
  padding: .625rem;
}

.login a {
  color: #43d9b8;
  background: black;
  text-decoration: none;
  border-radius: .625rem;
  padding: .625rem;
  margin: 0 auto;
}

.login a:hover {
  background: #43d9b8;
  color: black;
  border-radius: .625rem;
  border: 1px solid black;
}

.who {
  background: white;
}

.who p {
  background: white;
  text-align: center;
  padding: .625rem;
}

footer {
  background: black;
  padding: 1.25rem;
  display: flex;
}

footer p {
  color: #f0ffff;
}

/* About page */

.contain {
  width: 1000px;
  margin: 0 auto;
  background: #f0ffff;
  opacity: 0.85;
}

.contain h1 {
  text-align: center;
}

.cont {
  display: flex;
  align-items: center;
  height: 87vh;
}

.team {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px auto;
}

.team h2 {
  padding: 10px;
}

.team img {
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.team a {
  margin-top: 10px;
  text-decoration: none;
}

.contain footer a {
  padding: 10px;
  margin: 0 20px;
  font-weight: bold;
  color: #43d9b8;
  text-decoration: none;
}

/* media query */

@media (max-width: 748px) {
  /* Landing Page */
  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  header {
    width: 96%;
    color: black;
  }

  header nav {
    color: #43d9b8;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .logo {
    margin-left: 70px;
  }

  .content {
    padding: 10px;
  }

  .content p {
    padding: 10px;
  }

  .login {
    margin: 10px;
  }

  .content a {
    border: 1px solid black;
  }

  footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 30px;
  }

  /* About page */
  .contain {
    width: 100%;
    margin: 0 auto;
  }

  .contain h1 {
    padding-top: 20px;
  }

  .contain footer {
    background: black;
    display: flex;
  }

  .contain footer a {
    padding: 10px;
    margin: 0 20px;
    font-weight: bold;
    color: #43d9b8;
    text-decoration: none;
  }
}
