/* Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
body {
  background: url(/images/booksReader.jpg);
  background-size: cover;
  /* Hides scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Oswald", sans-serif;
}
/* Hides scrollbar for Chrome/Safari/Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Landing page */

.container {
  margin: 0 auto;
}
header {
  height: 100vh;
  background: #f0ffff;
  opacity: 0.7;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  position: fixed;
  z-index: 1;
  background-color: #f0ffff;
}
header nav img {
  border: red;
  height: 50px;
  width: 50px;
}
header nav a {
  color: #2596be;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5% 0;
  font-weight: bold;
}
header div {
  padding-top: 5%;
}
header div h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  padding-top: 8%;
  padding-left: 2%;
}
header div p {
  font-size: 1.5rem;
  padding-top: 1%;
  padding-left: 2%;
}
.ctaBtn {
  color: #f0ffff;
  background: #2596be;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 2%;
  padding: 1% 3%;
  opacity: 1;
}

/* Top Section */

.top-section {
  background: #f0ffff;
  height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  padding: 3%;
}
.libImg {
  width: 40%;
  height: 60vh;
}
.content div {
  padding: 10%;
}
.content div h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 2%;
}
.content p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.ctaBtn2 {
  color: #f0ffff;
  background: #2596be;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 1% 3%;
  margin-top: 2%;
}
.ctaBtn2 a {
  color: #f0ffff;
  text-decoration: none;
}

/* Mid Section */

.mid-section {
  background-color: #2596be;
  height: 100vh;
}
.content2 {
  display: flex;
  align-items: center;
  padding: 3%;
  padding-right: 10%;
}
.libImg2 {
  width: 40%;
  height: 60vh;
}
.content2 div {
  padding: 15%;
}
.content2 div h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 2%;
}
.content2 p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.ctaBtn3 {
  color: #f0ffff;
  background: #2596be;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 4%;
}

/* Bottom Section */

.bottom-section {
  background-color: #f0ffff;
  height: 90vh;
}
.content3 {
  display: flex;
  align-items: center;
  padding: 3%;
}
.libImg {
  width: 40%;
  height: 60vh;
}
.content3 div {
  padding: 10%;
}
.content3 div h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 2%;
}
.content3 p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.ctaBtn3 {
  color: #f0ffff;
  background: #2596be;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 1% 3%;
  margin-top: 2%;
}
.ctaBtn3 a {
  color: #f0ffff;
  text-decoration: none;
}

footer {
  background: #2596be;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
footer p {
  font-weight: bold;
  color: #f0ffff;
}
footer a {
  text-decoration: none;
  color: #f0ffff;
  font-weight: bold;
}

/* About page */

.about-header {
  height: 10vh;
  background-color: black;
}
.about {
  background-color: #f0ffff;
  text-align: center;
}
.about h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 3%;
}
.about p {
  padding-top: 2%;
}
.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  width: 100%;
  background: #f0ffff;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  width: 35%;
}
.team h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
.team img {
  margin-top: 3%;
  width: 15%;
}
.team h3 {
  margin-top: 3%;
  font-weight: bold;
  color: #2596be;
}
.team a {
  margin: 3% auto;
  padding: 2% 4%;
  color: black;
  background-color: #2596be;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.team a:hover {
  color: #2596be;
  background-color: black;
}
.contain footer a {
  font-weight: bold;
  color: #f0ffff;
  text-decoration: none;
}

/* media query */

@media (max-width: 500px) {
  /* Landing Page */

  .container {
    width: 100%;
    margin: 0 auto;
  }
  header {
    width: 100%;
  }
  .topsection h1 {
    padding-top: 15%;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }
  .logo {
    margin: 0 auto;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }

  /* About page */

  .contain {
    width: 100%;
    margin: 0 auto;
  }
  .contain header {
    width: 100%;
  }
  .cont {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15%;
  }
  .team {
    width: 45%;
    height: 45%;
  }
  .contain footer a {
    padding: 10px;
    font-weight: bold;
  }
}
